
.flag-item {
  margin: 0 auto ;
  width: 264px;
  background-color:var( --main-color-white);
  margin-top: 27px;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
border-radius: 5px;
height: 100%;
}
.ftag-item-top img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.ftag-item-bottom {
  padding: 24px;
}

 .title {
   font-weight: 800;
   font-size: 18px;
   line-height: 26px;
   color:  var(--main-color-text);
  }
.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color:  var(--main-color-text);
  }
.text span {
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color:  var(--main-color-text);
  }

.margens {
  margin: 0px;
}
  .col-card {
    margin: 4% 0;
  }
  .img {
    width: 560px;
height: 401px;
box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.0294384);
border-radius: 10.0057px;
  }
  .card-img{
    width: 264px;
    height:150px !important;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.183);
  }

  .card-title {
    font-weight: 800;
font-size: 32px;
line-height: 44px;
color:   var(--main-color-text);
  }
  .list {
    max-width: 574px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 24px 0 68px 0;
    padding: 0;
  }
  .list-item {
    width: 200px;
  }
  .list-item:last-child {
    width: 260px;
  }
  .list-item p {
    font-weight: 600;
font-size: 16px;
line-height: 32px;
color:  var(--main-color-text);
  }
  .list-item p span {
    font-weight: 400;
  }
  .btn-groups {
    display: flex;
    align-items: center;
  }
  .btn-groups span {
    font-weight: 600;
font-size: 16px;
line-height: 24px;
color: var(--main-color-text);
  }
  .btn {
    background:  var( --main-color-white);
box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
border-radius: 2px;
margin-left: 10px;
font-weight: 300;
font-size: 14px;
line-height: 19px;
color:  var(--main-color-text);

  }
.btn:hover {
  color:  var(--main-color-text);
}
.margen {
  margin-top: 80px;
}
.btn-back {
  margin-top: 80px;
  background-color: var( --main-color-white);
border-radius: 6px;
padding: 10px 39px;
display:inline-block;
color: var(--main-color-text);
display:flex ;
}
.btn-back .bi {
  margin-right: 10px;
}
@media only screen and (max-width:1199px) {
  .img-group {
  display: flex;
  justify-content: center;
  }
  .cols{
  display: flex;
  justify-content: center;
  }
}
