.header { 
  background-color: #ffffff;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}
.header-inner .title {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #202C36;
  margin: 0;
}

